.container {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.light {
    background-color:beige;
    color: black;
}

.dark {
    background-color:black;
    color: white;
}

h1 {
    font-weight: 600;
    font-size: 3rem;
    color:tomato;
}

.clock-timer {
    font-weight: bolder;
    font-size: 4rem;
    color:tomato;
}

.clock-btn {
    padding: .6rem 1.8rem;
    font-size: 1.8rem;
    border-radius: 20px;
    color:beige;
    
    border: none;
}

.clock-btn-start {
    background-color: tomato;
}

.clock-btn-stop {
    background-color:sandybrown;
}

.clock-btn:hover {
    cursor: pointer;
}

.timers-table {
    margin-top: 3rem;
    width: 100%;
    border-collapse: collapse;
}

.timers-table th, .timers-table td {
    padding: .5rem;
    text-align: left;
}

.timers-table th {
    border-bottom: 1px solid black;
}